.sub {
  &__main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 545px;
    @include SP {
      height: 220px;
    }
    h2 {
      color: #fff;
      @include font-size(60);
      font-weight: bold;
      @include letter-spacing(200);
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      @include SP {
        @include font-size(32);
      }
    }
  }

  &__about01 {
    padding-top: 65px;
    @include SP {
      padding-top: 35px;
    }
    .flex-row {
      // align-items: flex-start;
      > div {
        &:nth-child(1) {
          width: 53%;
          @include SP {
            width: 100%;
          }
          h3 {
            padding-top: 40px;
            @include font-size(40);
            color: #fff;
            @include letter-spacing(200);
            @include SP {
              padding-top: 20px;
              @include font-size(32);
            }
          }
          p {
            margin-top: 55px;
            @include font-size(16);
            line-height: 2;
            color: #fff;
            @include SP {
              @include font-size(14);
              margin-top: 20px;
            }
          }
        }
        &:nth-child(2) {
          width: 40%;
          background-image: url(../images/about/img01.jpg);
          background-size: cover;
          background-position: center;
          @include SP {
            display: none;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  &__about02 {
    margin-top: 100px;
    padding: 70px 0;
    background: #fff;
    @include SP {
      margin-top: 40px;
      padding: 30px 0;
    }
    h3 {
      text-align: center;
      color: #e4007f;
      em {
        display: block;
        @include font-size(28);
        @include letter-spacing(200);
        font-weight: bold;
        @include SP {
          @include font-size(20);
        }
      }
      span {
        @include font-size(30);
        display: block;
        @include letter-spacing(200);
        font-weight: bold;
        margin-top: 20px;
        @include SP {
          @include font-size(24);
        }
        em {
          @include SP {
            @include font-size(17);
            margin-top: 15px;
            @include letter-spacing(80);
          }
        }
      }
    }
    p {
      text-align: center;
      color: #e4007f;
      @include font-size(16);
      line-height: 2.125;
      margin-top: 50px;
      @include SP {
        @include font-size(14);
        margin-top: 25px;
        text-align: left;
        padding: 0 15px;
      }
    }
    small {
      text-align: center;
      color: #e4007f;
      @include font-size(14);
      line-height: 2.125;
      margin-top: 50px;
      display: block;
      @include SP {
        @include font-size(12);
        margin-top: 25px;
        text-align: left;
        padding: 0 15px;
      }
    }
  }
  &__about03 {
    padding: 100px 0;
    @include SP {
      padding: 50px 0;
    }
    h3 {
      text-align: center;
      @include font-size(40);
      color: #fff;
      @include letter-spacing(200);
      @include SP {
        @include font-size(24);
        line-height: 1.7;
      }
    }
    p {
      @include font-size(16);
      line-height: 2.125;
      color: #fff;
      margin-top: 65px;
      @include SP {
        text-align: left;
        @include font-size(14);
        margin-top: 30px;
      }
    }
  }
  &__about04 {
    background: #fff;
    padding: 100px 0;
    @include SP {
      padding: 50px 0;
    }
    h3 {
      text-align: center;
      color: #e4007f;
      @include font-size(40);
      @include letter-spacing(200);
      @include SP {
        @include font-size(20);
      }
    }
    table {
      margin-top: 70px;
      width: 100%;
      @include SP {
        @include font-size(20);
        margin-top: 20px;
      }
      @include SP {
        display: block;
      }
      tr {
        @include SP {
          display: block;
        }
        td,
        th {
          padding: 15px 0;
          @include font-size(16);
          color: #e4007f;
          @include letter-spacing(200);
          line-height: 2;
          border-bottom: 1px solid #e4007f;
          @include letter-spacing(0);
          @include SP {
            display: block;
            @include font-size(14);
          }
        }
        th {
          width: 200px;
          @include SP {
            width: 100%;
            border-bottom: none;
            padding-bottom: 0;
          }
        }
        td {
          @include SP {
            padding-top: 0;
          }
          ul {
            li {
              display: block;
              vertical-align: middle;
              line-height: 2;
              position: relative;
              &:before {
                // content: "";
                width: 24px;
                height: 1px;
                background: #e4007f;
                position: absolute;
                @include transform(rotate(-45deg));
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
  &__about05 {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
    @include SP {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .inner {
      iframe {
        width: 100%;
        height: 550px;
        @include SP {
          height: 350px;
        }
      }
    }
  }

  &__artist01 {
    padding-top: 80px;
    padding-bottom: 50px;
    overflow: hidden;
    @include SP {
      padding-top: 50px;
    }
    h2 {
      text-align: center;
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
      }

      span {
        color: #fff;
        font-weight: bold;
        @include font-size(60);
        @include letter-spacing(200);
        @include SP {
          @include font-size(32);
        }
      }
    }
    p {
      @include font-size(16);
      line-height: 2.125;
      color: #fff;
      margin: auto;
      margin-top: 50px;
      max-width: 790px;
      @include SP {
        @include font-size(14);
        line-height: 2;
        margin-top: 30px;
      }
    }
    .infiniteslide {
      margin-top: 80px;
      @include SP {
        margin-top: 60px;
      }
      img {
        width: 300px;
        @include SP {
          width: 180px;
        }
      }
    }
  }
  &__artist02 {
    background: #fff;
    padding: 60px 0;
    @include SP {
      padding: 30px 0;
    }
    h3 {
      color: #e4007f;
      font-weight: bold;
      text-align: center;
      @include font-size(40);
      @include letter-spacing(200);
      @include SP {
        @include font-size(22);
      }
    }
    .inner {
      a {
        display: block;
        width: 48.5%;
        margin-top: 40px;
        @include SP {
          margin-top: 20px;
        }
        figure {
          > div {
            padding-top: 70%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
          figcaption {
            padding-top: 20px;
            @include SP {
              padding-top: 15px;
            }
            span {
              @include font-size(17);
              color: #fff;
              background: #e4007f;
              padding: 5px;
              @include SP {
                @include font-size(14);
              }
              &.date {
                background: #fff;
                color: #e4007f;
                padding: 0;
              }
            }
            em {
              display: block;
              margin-top: 10px;
              line-height: 1.6;
              @include font-size(16);
              color: #e4007f;
              @include SP {
                @include font-size(13);
              }
            }
          }
        }
      }
    }
    &.third-column {
      .inner {
        a {
          width: 32%;
        }
      }
    }
  }
  &__detail-title {
    padding: 50px 0;
    @include SP {
      padding: 25px 0;
    }
    h2 {
      text-align: center;
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
      }

      span {
        color: #fff;
        font-weight: bold;
        @include font-size(60);
        @include letter-spacing(200);
        @include SP {
          @include font-size(32);
        }
      }
    }
  }
  &__postcontent {
    background: #fff;
    h3 {
      padding-top: 50px;
      text-align: center;
      @include font-size(40);
      color: #e4007f;
      @include letter-spacing(200);
      @include SP {
        @include font-size(24);
        padding-top: 20px;
      }
    }
    &__label {
      text-align: center;
      margin-top: 30px;
      @include SP {
        margin-top: 20px;
      }
      span {
        color: #fff;
        background: #e4007f;
        @include font-size(16);
        padding: 10px 15px;
        @include SP {
          @include font-size(14);
          padding: 8px 10px;
        }
        &.date {
          color: #e4007f;
          background: #fff;
        }
      }
    }
    &__content {
      margin-top: 80px;
      padding-bottom: 40px;
      @include SP {
        margin-top: 40px;
        padding-bottom: 20px;
      }
      > img {
        width: 100%;
        display: block;
        margin-top: 20px;
      }
      > p {
        @include font-size(16);
        line-height: 2;
        margin-top: 20px;
        @include SP {
          @include font-size(14);
        }
        > img {
          width: 100%;
          display: block;
        }
      }
    }
    &__pager {
      padding: 40px 0 100px;
      @include SP {
        padding: 30px 0 50px;
      }
      a {
        color: #e4007f;
        @include font-size(16);
        @include letter-spacing(100);
      }
    }
  }
  &__eventmain {
    .flex-row {
      padding-top: 50px;
      > div {
        &:nth-child(1) {
          width: 42%;
          @include SP {
            width: 100%;
            order: 2;
          }
          h3 {
            padding-top: 20px;
            @include font-size(40);
            @include letter-spacing(200);
            color: #fff;
            line-height: 2;
            @include SP {
              @include font-size(24);
            }
          }
          p {
            @include font-size(16);
            color: #fff;
            line-height: 2;
            margin-top: 25px;
            @include SP {
              @include font-size(14);
              margin-top: 15px;
            }
          }
        }
        &:nth-child(2) {
          width: 50%;
          @include SP {
            order: 1;
            width: 100%;
          }
          div {
            width: 130%;
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include SP {
              width: 100%;
              padding-top: 70%;
            }
          }
        }
      }
    }
  }
  .category {
    text-align: center;
    margin-top: 50px;
    ul {
      li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        position: relative;
        @include SP {
          padding: 0 15px;
        }
        &:last-child {
          &:before {
            content: none;
          }
        }
        &:before {
          content: "";
          height: 100%;
          width: 1px;
          background: #e4007f;
          position: absolute;
          right: 0;
          top: 0;
        }
        a {
          color: #e4007f;
          @include font-size(17);
          @include SP {
            @include font-size(12);
          }
        }
      }
    }
  }
}
