.footer {
  .inner {
    .flex-row {
      align-items: center;
    }
  }
  &__map {
    width: 47%;
    @include SP {
      width: 100%;
    }
    iframe {
      height: 290px;
      width: 100%;
      @include SP {
        height: 220px;
      }
    }
  }
  &__access {
    width: 47%;
    color: #fff;
    @include SP {
      width: 100%;
      margin-top: 20px;
    }
    > p {
      @include font-size(14);
      line-height: 2;
    }
    > a {
      background: #fff;
      display: inline-block;
      padding: 10px 60px;
      margin-top: 25px;
      opacity: 1;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
      img,
      span {
        display: inline-block;
        vertical-align: middle;
      }
      img {
        height: 17px;
        margin-right: 15px;
      }
      span {
        color: #e4007f;
        @include font-size(16);
        @include letter-spacing(200);
      }
    }
  }
  &__sns {
    margin-top: 30px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      a {
        display: block;
        img {
          height: 28px;
        }
      }
    }
  }
  &__totop {
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
    a {
      color: #fff;
      font-size: 14px;
      font-size: 1.4rem;
      letter-spacing: 0.1em;
      position: absolute;
      width: 300px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: -70px;
      right: 0;
      left: 0;
      margin: auto;
      &:before {
        content: "";
        width: 110px;
        height: 1px;
        position: absolute;
        left: -130px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
      }
    }
  }
  &__supporter {
    .flex-row {
      &::before {
        content: "";
        display: block;
        width: 22.5%;
        order: 1;
        @include SP {
          width: 48%;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 22.5%;
        @include SP {
          width: 48%;
        }
      }
    }
    a {
      display: block;
      width: 22.5%;
      margin-top: 30px;
      @include SP {
        width: 48%;
        margin-top: 12px;
      }
    }
  }
  &__copy {
    text-align: center;
    color: #fff;
    @include font-size(12);
    @include letter-spacing(70);
    padding-top: 60px;
    padding-bottom: 80px;
    @include SP {
      @include font-size(10);
      @include letter-spacing(0);
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}
