@charset 'UTF-8';
@import 'compass_lib/compass';
@import 'compass_lib/compass/reset';
@import 'plugins/**/*';
@import 'utility';
@import 'layout/**/*';
@import 'component/**/*';
@import 'page/**/*';


body{
    background-color:#e4007f;
}
// 追従グローバルメニュー
.mainnav{
    background-color:#e4007f;
    padding: 0 20px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 999;
 }
.hide{
    transform: translateY(-100%);
}

nav{
    height:50px;
   }
nav>.flex-row{
     align-items: center;
     height:50px; 
   }
.flex-row{
    li{
     margin-left:30px;
     list-style:none;
   }}
.logo {
    width:30%;
    height:100%;
    img{
    width: 100%;
    height:100%
   }} 
li a{
     color:white;
     text-decoration:none;
   }

.header-img{
    img{width:94%;
        text-align:left;
    }
}

//スクロールバナー
.sc-banner {/*親div*/
    position: relative;
    position: fixed;
    top: 120px; 
    right: 0px;
    writing-mode: vertical-rl;
    img{
        width:80px;
        height:180px;
        text-align:right;
    }
    .en-map{
        position: absolute;/*絶対配置*/
        color: #e4007f;
        top: 20px;
        right: 15px;
        font-size:30px;
    }
    .ja-map{
        position: absolute;/*絶対配置*/
        color: #e4007f;
        top: 50px;
        left: 10px;
        font-size:16px;
        }}